@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
    font-family: "Oswald", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100% 100% 100% 100% 100% 100%;
}

.nav,
#search,
#login,
#info,
#logo,
#cameras,
#statistics,
a {
    display: inline;
    text-decoration: none;
    list-style: none;
    padding-top: 0.5%;
    margin-right: 4%;
    font-size: 117%;
    text-align: center;
    color: rgb(212, 208, 208);
}

.nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba(5, 20, 16, 0.781);
    height: 9%;
}

.nav-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo home cameras facts app search";
}

#home {
    grid-area: home;
}

#cameras {
    grid-area: cameras;
}

#facts {
    grid-area: facts;
}

#app {
    grid-area: app;
}

#logo {
    float: left;
    font-size: 135%;
    color: rgb(212, 208, 208);
    transform: translateY(-59%);
    grid-area: logo;
}

.logo {
    width: 20%;
    transform: translateY(40%);
}

#search {
    float: right;
    font-size: 117%;
    color: rgb(212, 208, 208);
    grid-area: search;
}

.section1 {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: rgb(212, 208, 208);
}

.section2 {
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: rgb(9, 77, 100);
}

.section3 {
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: rgb(212, 208, 208);
}

.section4 {
    grid-row: 4/5;
    grid-column: 1/3;
    background-color: rgb(107, 30, 30);
}

.section5 {
    grid-row: 5/6;
    grid-column: 1/3;
    background-color: rgb(45, 70, 41);
}

.section6 {
    grid-row: 6/7;
    grid-column: 1/3;
    background-color: rgb(41, 61, 70);
}

#heading {
    text-align: center;
    font-size: 350%;
    padding-top: 14%;
}

#download-button {
    width: 43vh;
    font-size: 40%;
    padding: 0.6% 3% 0.8% 3%;
    border: none;
    background-color: rgb(39, 39, 61);
    color: rgb(212, 208, 208);
    border-radius: 12px;
}

#slogan {
    text-align: center;
    font-size: 35%;
    color: rgb(70, 70, 70);
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

#search-button {
    width: 80%;
    font-size: 100%;
    padding: 0.6% 3% 0.8% 3%;
    border: none;
    background-color: rgb(28, 28, 44);
    color: rgb(212, 208, 208);
    border-radius: 12px;
}

#search-button:hover>.search-text {
    width: 60%;
    padding: 0 6px;
}

.search-text {
    transform: translateY(15%);
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: rgba(212, 208, 208);
    font-size: 80%;
    transition: 0.4s;
    line-height: 100%;
    width: 0%;
}

#app-image {
    height: 60%;
    padding: 10%;
    float: left;
}

#app-heading {
    text-align: left;
    margin-right: 4%;
    margin-top: 8%;
    font-size: 350%;
    color: rgba(212, 208, 208);
    padding-bottom: 4%;
}

.app-text {
    list-style-image: url("../images/bullet.png");
    color: rgba(212, 208, 208);
    font-size: 120%;
}


/*Rotating cards*/

.scene1 {
    width: 10em;
    height: 15em;
    margin-top: 20%;
}

.scene2 {
    width: 10em;
    height: 15em;
}

.scene3 {
    width: 10em;
    height: 15em;
}

.scene4 {
    width: 10em;
    height: 15em;
}

.scene5 {
    width: 10em;
    height: 15em;
}

.card1 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 50%;
}

.card2 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 210%;
    margin-top: -165%;
}

.card3 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 370%;
    margin-top: -150%;
}

.card4 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 530%;
    margin-top: -150%;
}

.card5 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 690%;
    margin-top: -150%;
}

.face {
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 15em;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #b89ffb;
}

.back {
    background-color: rgb(75, 75, 75);
    transform: rotateY(180deg);
}

.scene1:hover .card1 {
    transform: rotateY(180deg);
}

.scene2:hover .card2 {
    transform: rotateY(180deg);
}

.scene3:hover .card3 {
    transform: rotateY(180deg);
}

.scene4:hover .card4 {
    transform: rotateY(180deg);
}

.scene5:hover .card5 {
    transform: rotateY(180deg);
}


/*birds-pictures*/

.bird {
    width: 8em;
    margin-top: 20%;
}

#birds-heading {
    font-size: 60px;
    color: rgba(212, 208, 208);
    text-align: center;
    margin-top: 100px;
}