@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Mono:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100% 100% 200% 100% 100% 100%;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #007c94;
    z-index: 1;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.logotext {
    color: #f6fcfc;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
    display: inline;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-links a {
    color: #f6fcfc;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
    transition: .2s;
}

.nav-links a:hover {
    font-weight: bold;
    color: #bbff5d;
    transition: .2s;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #f6fcfc;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 770px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #74c404b2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#search {
    float: right;
    font-size: 117%;
    color: #f6fcfc;
    grid-area: search;
}

.section1 {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #f6fcfc;
}

.section2 {
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: #049bb8;
}

.section3 {
    grid-row: 3/4;
    grid-column: 1/3;
    background-color: #00c0c3;
}

.section4 {
    grid-row: 4/5;
    grid-column: 1/3;
    background-color: #049bb8;
}

.section5 {
    grid-row: 5/6;
    grid-column: 1/3;
    background-color: #f6fcfc;
}

.section6 {
    grid-row: 6/7;
    grid-column: 1/3;
    background-color: #003479;
}

#heading {
    text-align: center;
    font-size: 350%;
    padding-top: 14%;
}

#tips-button {
    width: 50vh;
    font-size: 40%;
    padding: 0.6% 3% 0.8% 3%;
    border: none;
    background-color: #00c0c3;
    color: #f6fcfc;
    border-radius: 12px;
}

#slogan {
    text-align: center;
    font-size: 35%;
    color: #71c100;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

#login-button {
    width: 15vh;
    font-size: 40%;
    padding: 0.6% 3% 0.8% 3%;
    border: none;
    background-color: #8ed32f;
    color: #f6fcfc;
    border-radius: 10px;
}

#search-button {
    margin-top: 5%;
    margin-left: 30%;
    width: 40%;
    font-size: 100%;
    padding: 0.6% 3% 0.8% 3%;
    border: none;
    background-color: #007c94;
    color: #f6fcfc;
    border-radius: 12px;
}

#search-button:hover>.search-text {
    width: 60%;
    padding: 0 6px;
}

.search-text {
    transform: translateY(15%);
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: #f6fcfc;
    font-size: 80%;
    transition: 0.4s;
    line-height: 100%;
    width: 0%;
}

#app-image {
    height: 60%;
    padding: 10%;
    float: left;
}

#app-heading {
    text-align: left;
    margin-right: 4%;
    margin-top: 8%;
    font-size: 350%;
    color: #f6fcfc;
    padding-bottom: 4%;
}

.app-text {
    list-style-image: url("../images/bullet.png");
    color: #f6fcfc;
    font-size: 120%;
}


/*Rotating cards*/

.scene1 {
    width: 10em;
    height: 15em;
    margin-top: 20%;
}

.scene2 {
    width: 10em;
    height: 15em;
}

.scene3 {
    width: 10em;
    height: 15em;
}

.scene4 {
    width: 10em;
    height: 15em;
}

.scene5 {
    width: 10em;
    height: 15em;
}

#mapid {
    margin-top: 5vh;
    height: 800px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.card1 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 50%;
}

.card2 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 210%;
    margin-top: -165%;
}

.card3 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 370%;
    margin-top: -150%;
}

.card4 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 530%;
    margin-top: -150%;
}

.card5 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    margin-left: 690%;
    margin-top: -150%;
}

.face {
    width: 100%;
    height: 100%;
    color: #f6fcfc;
    line-height: 15em;
    text-align: center;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #f3d100;
}

.back {
    background-color: #017e5c;
    transform: rotateY(180deg);
}

.scene1:hover .card1 {
    transform: rotateY(180deg);
}

.scene2:hover .card2 {
    transform: rotateY(180deg);
}

.scene3:hover .card3 {
    transform: rotateY(180deg);
}

.scene4:hover .card4 {
    transform: rotateY(180deg);
}

.scene5:hover .card5 {
    transform: rotateY(180deg);
}


/*birds-pictures*/

.bird {
    width: 8em;
    margin-top: 20%;
}

#birds-heading {
    font-size: 60px;
    color: #f6fcfc;
    text-align: center;
    margin-top: 100px;
}