:root {
  --white: #f6fcfc;
  --lightblue: #81c7e0;
  --mediumblue: #00b8de;
  --darkteal: #007c94;
  --ashblue: #617ca9;
  --darkblue: #003479;
  --lightteal: #00c0c3;
  --mediumteal: #10bcdf;
  --drakgreen: #017e5c;
  --lightgreen: #8ed32f;
  --yellow: #f3d100;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  text-align: center;
  margin: 0;
  background-color: var(--white);
  height: 1vh;
  overflow: hidden;
}

#background-image {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #007c94;
  z-index: 4;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}

.logotext {
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form, p, span{
  margin: 0;
  padding: 0;
}

input{
  font: 12px arial;
}

a{
  color: #0000ff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#wrapper, #loginform{
  margin: 0 auto;
  margin-top: 200px;
  padding-bottom: 25px;
  background: #bcc0c0;
  width: 714px;
  height: 600px;
  border: 6px solid #ebebeb;
  border-radius: 6px;
}

#chatbox{
  text-align: inherit;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 10px;
  background: #fff;
  height: 270px;
  width: 460px;
  border: 1px solid #ebebeb;
  overflow: auto;
  border-radius: 5px;
  height: 500px;
  width: 600px;
}

.usermsg{
  width: 500px;
  padding: 10px;
  border: none;
  background: #fff;
  resize: none;
  border-radius: 5px;
}

.button{
  background-color: #007c94;
  color:white;
  padding:11px 15px;
  border: none;
  cursor: pointer;
  width: 13%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 5px;
  transition: .5s;
}

.button:hover{
  background-color: rgb(1, 109, 109);
  color: white;
  transition: .5s;
}

.welcome{
  font-size:22px;
  color: #007c94;
  font-weight: bold;
}

.login{
  float: left;
  background-color: rgb(3, 75, 243);
  color: white;
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  width: 18%;
  margin-bottom: 10px;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 10px;
  margin-right: 2px;
}

.login:hover{
  background-color: rgb(0, 127, 212);
  color: white;
}

.text-style{
  background-color: #e4e6eb;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.delButton{
  border: none;
  text-decoration: none;
  font-size: 16px;
  background-color: #e4e6eb;
  cursor: pointer;
  border-radius: 100%;
}

.delButton:hover{
  background-color: #d0d2d4;
}

#login-button {
  width: 70%;
  height: 10vh;
  font-size: 5vh;
  padding: 0.6% 3% 0.8% 3%;
  border: none;
  background-color: var(--drakgreen);
  border-radius: 20px;
  margin-top: 15%;
}

#login{
  text-decoration: none;
  color: white;
}

/* Logout */

#logout-button {
  width: 15vh;
  height: 3vh;
  padding: 0.6% 3% 0.8% 3%;
  border: none;
  background-color: #ff0000;
  border-radius: 10px;
}

#logout{
  font-size: 20px;
  text-decoration: none;
  color: white;
}

#forumNav{
  display: flex;
  justify-content: space-around;
}