    :root {
        --white: #f6fcfc;
        --lightblue: #81c7e0;
        --mediumblue: #00b8de;
        --darkteal: #007c94;
        --ashblue: #617ca9;
        --darkblue: #003479;
        --lightteal: #00c0c3;
        --drakgreen: #017e5c;
        --lightgreen: #8ed32f;
        --yellow: #f3d100;
    }

    @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
    * {
        /* font-family: 'PT Sans', sans-serif;*/
        font-family: 'Roboto', sans-serif;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    
    /* Custom scrollbar */

    body::-webkit-scrollbar {
        width: 11px;
    }
    
    body {
        scrollbar-width: thin;
        scrollbar-color: #90A4AE #CFD8DC;
    }
    
    body::-webkit-scrollbar-track {
        background: #CFD8DC;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: #90A4AE;
        border-radius: 6px;
        border: 3px solid #CFD8DC;
    }

    main {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100% 100% 300% inherit;
    }
    
    /* Navigation bar */

    nav {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: var(--darkteal);
        z-index: 4;
    }
    
    .logo {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 25px;
    }
    
    .logotext {
        color: var(--white);
    }
    
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }
    
    .nav-links li {
        list-style: none;
        display: inline;
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .nav-links a {
        color: var(--white);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 17px;
        transition: .2s;
    }
    
    .nav-links a:hover {
        font-weight: bold;
        color: #bbff5d;
        transition: .2s;
    }
    
    .burger {
        display: none;
    }
    
    .burger div {
        width: 25px;
        height: 3px;
        background-color: var(--white);
        margin: 5px;
        transition: all 0.3s ease;
    }
    
    @media screen and (max-width: 1024px) {
        .nav-links {
            width: 60%;
        }
    }
    
    @media screen and (max-width: 770px) {
        body {
            overflow-x: hidden;
        }
        .nav-links {
            position: fixed;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: var(--lightblue);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
        }
        .nav-links li {
            opacity: 0;
        }
        .burger {
            display: block;
            cursor: pointer;
        }
    }
    
    .nav-active {
        transform: translateX(0%);
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* Glassmorphism bubbles */

    .glassmorphism {
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border-left: 5px solid rgba(255, 255, 255, 0.3);
        border-top: 3.5px solid rgba(255, 255, 255, 0.2);
        border-right: 3px solid rgba(142, 251, 255, 0.3);
        border-bottom: 1.5px solid rgba(250, 252, 153, 0.3);
        box-shadow: 20px 20px 40px -6px rgba(36, 68, 49, 0.075);
        background: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        z-index: -1;
        overflow: hidden;
    }

    .glassmorphism1 {
        width: 600px;
        height: 600px;
        right: -150px;
        border-radius: 50%;
        border-left: 10px solid rgba(255, 255, 255, 0.3);
        border-top: 7px solid rgba(255, 255, 255, 0.2);
        border-right: 6px solid rgba(142, 251, 255, 0.3);
        border-bottom: 3px solid rgba(250, 252, 153, 0.3);
        box-shadow: 20px 20px 40px -6px rgba(36, 68, 49, 0.075);
        background: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(70px);
        backdrop-filter: blur(70px);
        z-index: -1;
    }

    .container1 {
        width: 450px;
        height: 650px;
        z-index: -1;
        position: absolute;
        top: 800px;
        right: 0px;
        overflow:hidden;
    }

    .glassmorphism2 {
        width: 400px;
        height: 400px;
        position: absolute;
        top: 1200px;
        left: -150px;
        border-radius: 50%;
        border-left: 10px solid rgba(255, 255, 255, 0.3);
        border-top: 7px solid rgba(255, 255, 255, 0.2);
        border-right: 6px solid rgba(142, 251, 255, 0.3);
        border-bottom: 3px solid rgba(250, 252, 153, 0.3);
        box-shadow: 20px 20px 40px -6px rgba(36, 68, 49, 0.075);
        background: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(70px);
        backdrop-filter: blur(70px);
        z-index: -1;
        overflow: hidden;
    }
    
    /* Section 1 */

    .section1 {
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: var(--white);
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section1:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top, var(--lightteal), transparent);
        z-index: 3;
    }
    
    .section1:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00c0c331;
        z-index: 3;
        mix-blend-mode: color;
    }
    
    /* Parallax images */

    .section1 img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    #rocks {
        z-index: 2;
    }

    @media (max-width: 550px) {
        #rocks, #bird1, #bird2 {
            display: none;
        }
    }

    #water {
        z-index: 2;
    }

    #heading {
        text-align: center;
        font-size: 90px;
        position: relative;
        z-index: 1;
        margin-bottom: 250px;
    }
    
    /* Login */

    #login-button {
        width: 15vh;
        font-size: 40%;
        padding: 0.6% 3% 0.8% 3%;
        border: none;
        background-color: var(--lightgreen);
        color: var(--white);
        border-radius: 10px;
    }
    
    /* Logout */

    #logout-button {
        width: 15vh;
        font-size: 40%;
        padding: 0.6% 3% 0.8% 3%;
        border: none;
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 10px;
        display: none;
    }
    
    /* Section 2 */

    .section2 {
        grid-row: 2/3;
        grid-column: 1/3;
        background-color: var(--lightteal);
        padding-bottom: 3%;
        z-index: -2;
    }

    /* Live video */

    #live-video-grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 2em, 4em;
    }

    #video-container>video {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #live-video {
        width: 90%;
    }
    
    #cameras-text {
        text-align: center;
        font-size: 30px;
        color: #005566;
        margin-bottom: 3%;
    }
    
    #save-the-birds-text {
        width: 90%;
        text-align: justify;
        color: var(--white);
        line-height: 155%;
        margin-bottom: 4%;
    }

    #save-the-birds {
        align-self: center;
    }
    
    @media (max-width: 880px) {
        #live-video-grid {
            display: block;
        }

        #video-container {
            width: 90%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 7%;
        }

        #live-video {
            width: 100%;
        }

        #save-the-birds-text {
            margin-left: auto;
            margin-right: auto;
            display: block;
            text-align: center;
        }

        #tips-button {
            margin-bottom: 7%;
        }

        #search-button {
            width: 80%;
            height: 1%;
            display: block;
            margin: 7% auto 1% auto;
        }

        .section3 {
            padding-bottom: 7%;
        }
    }

    /* Section 3 */

    .section3 {
        grid-row: 3/4;
        grid-column: 1/3;
        background-color: var(--mediumblue);
        z-index: -2;
    }

    #tips-button {
        width: 70%;
        font-size: 140%;
        padding: 0.8% 3% 1.2% 4%;
        border: none;
        background-color: var(--lightgreen);
        color: var(--white);
        border-radius: 12px;
        z-index: 3;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
    
    /* Search button */

    #search-button {
        margin-top: 5%;
        margin-left: 30%;
        width: 40%;
        font-size: 100%;
        padding: 0.6% 3% 0.8% 3%;
        border: none;
        background-color: var(--darkteal);
        color: var(--white);
        border-radius: 12px;
    }
    
    #search-button:hover>.search-text {
        width: 60%;
        padding: 0 6px;
    }
    
    .search-text:focus {
        width: 60%;
        padding: 0 6px;
    }
    
    .search-text {
        transform: translateY(15%);
        border: none;
        background: none;
        outline: none;
        float: right;
        padding: 0;
        color: var(--white);
        font-size: 80%;
        transition: 0.4s;
        line-height: 100%;
        width: 0%;
    }
   
    /* Map */

    #mapid {
        margin-top: 5vh;
        height: 650px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        z-index: 0;
    }
    
    .leaflet-control-attribution {
        display: none;
    }
    
    .info1, .info2, .info3, .info4, .info5, .info6, .info7 {
        position: relative;
        margin-top: -542px;
        margin-bottom: 100px;
        margin-left: 19%;
        width: 60%;
        height: 400px;
        padding: 20px;
        display: none;
        background: var(--darkteal);
        border: rgba(0, 0, 0, 0.274) .1px solid;
        border-radius: 15px;
    }

    .exit-button, .exit-button1, .exit-button2, .exit-button3, .exit-button4, .exit-button5, .exit-button6 {
        position: absolute;
        right: -1px;
        top: -1px;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 15px;
        padding: .8em 1em;
        background: rgba(255, 255, 255, 0.144);
        box-shadow: rgba(255, 255, 255, 0.342) 0px 0px 0px 0.5px inset;
        color: white;
        font-size: 1em;
    }

    /*.lakes-photos {
        width: 50%;
        border: rgba(0, 0, 0, 0.274) .1px solid;
        border-radius: 15px;
        margin-left: auto;
        margin-top: auto;
        
    }*/

    /*Rotating cards*/
    
    #info-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
        gap: 1em 5em;
        padding: 5% 10% 5% 10%;
    }
    
    .scene1,
    .scene2,
    .scene3,
    .scene4,
    .scene5,
    .scene6,
    .scene7,
    .scene8,
    .scene9,
    .scene10 {
        justify-self: center;
        width: 10em;
        height: 15em;
    }
    
    .card1 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card2 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card3 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card4 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card5 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card6 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card7 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card8 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card9 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .card10 {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 0.5s;
        transform-style: preserve-3d;
    }
    
    .face {
        width: 100%;
        height: 100%;
        color: var(--white);
        text-align: center;
        position: absolute;
        backface-visibility: hidden;
    }
    
    .front1 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back1 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front2 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back2 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front3 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back3 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front4 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back4 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front5 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back5 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front6 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back6 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front7 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back7 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front8 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back8 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front9 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back9 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }
    
    .front10 {
        background-color: var(--white);
        transform: rotateY(0deg);
    }
    
    .back10 {
        background-color: var(--ashblue);
        transform: rotateY(180deg);
    }

    /*Birds pictures*/
    
    .bird {
        margin-top: 20px;
        width: 130px;
    }
    
    #birds-heading {
        font-size: 240%;
        color: var(--white);
        text-align: center;
        margin-top: 6%;
        margin-bottom: 3.5%;
    }

    .birds-links, .lakes-links {
        text-decoration: none;
        color: #2dffc7;
        padding-top: 5px;
        letter-spacing: 1px;
    }
    
    .cardText {
        padding-top: 65px;
        font-size: 16px;
        list-style-type: none;
        padding-bottom: 10px;
        line-height: 25px;
    }
    
    .birds-names {
        padding-top: 10px;
        color: var(--drakgreen);
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    #map-text {
        text-align: center;
        font-size: 240%;
        color: var(--white);
        margin-bottom: 1%;
        margin-top: 6%;
    }
    
    /* Section 4 */

    .section4 {
        grid-row: 4/5;
        grid-column: 1/3;
        background-color: #049bb8;
        z-index: -2;
    }

    /* Charts */

    #chartdiv1 {
        width: 50%;
        height: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
    }

    #chartdiv {
        width: 100%;
        height: 400px;
    }

    #chartdiv2 {
        width: 100%;
        height: 400px;
    }
    
    .chart1-text {
        color: white;
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
    }

    .chart2-text {
        color: white;
        font-size: 30px;
        text-align: center;
        margin-top: 80px;
    }

    .chart3-text {
        color: white;
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
    }

    .charts{
        display: flex;
        justify-content: space-around;
        margin-top: 4%;
    }

    .chart2{
        width: 50%;
    }

    @media (max-width: 1405px) {
        #chartdiv2{
            width: 100%;
            height: 300px;
        }
        #chartdiv {
            width: 100%;
            height: 300px;
        }
    }

    @media (max-width: 1275px) {
        .charts{
            display: block;
        }
        #chartdiv2{
            width: 100%;
            height: 400px;
        }
        #chartdiv {
            width: 100%;
            height: 400px;
        }
        .chart2{
            width: 100%;
        }
    }
      
    /*Footer*/

    .section5 {
        grid-row: 5/6;
        grid-column: 1/3;
        background-color: var(--white);
        z-index: -2;
    }
  
    footer {
        position: fixed;
        bottom: 0;
    }
    
    @media (max-height:800px) {
        footer {
            position: static;
        }
        header {
            padding-top: 40px;
        }
    }
    
    .footer-distributed {
        background-color: var(--darkteal);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */
    
    .footer-distributed .footer-left {
        width: 30%;
    }
    
    .footer-distributed h3 {
        color: var(--white);
        font-size: 36px;
        margin: 0;
    }

    /* Footer links */
    
    .footer-distributed .footer-links {
        color: var(--white);
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: var(--lightblue);
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */
    
    .footer-distributed .footer-center {
        width: 35%;
    }
    
    .footer-distributed .footer-center i {
        background-color: var(--darkteal);
        color: var(--white);
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        color: var(--white);
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
        color: var(--yellow);
        text-decoration: none;
    }

    /* Footer Right */
    
    .footer-distributed .footer-right {
        width: 30%;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: var(--lightblue);
        font-size: 15px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: var(--white);
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: var(--darkteal);
        border-radius: 2px;
        font-size: 20px;
        color: var(--white);
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    @media (max-width: 880px) {
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    }